/*FONTS*/

.outfit-titles {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 64px;
}

.inter-descr {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  /* font-size: 16px; */
}

/* GLOBALI */
body{
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Outfit", sans-serif;
    color: white;
}

.logo {
    height: 35px;
    margin-top: 2rem;
    margin-left: 10vw;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 400;
    /* font-size: 60px; */
}

h1 {
  font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3{
    font-size: 1.5em;
}

p {
  margin: 0.25em 0;
}


/* RESULTS*/

p a {
    font-family: "Inter", sans-serif;
}

.results {
    text-align: center;
    color:white;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

#wrapper {
    /* position:relative; */
    width:400px;
    height:400px;
    margin-top: 14rem;
    margin-left: auto;
    margin-right: auto;
}

#graph {
    margin-top: 1rem;
    width:100%;
}

#wright-perc, #wrong-perc {
    display: inline-block; 
    width: 30vw;
    min-width: 200px;
    position: relative; 
    color: white;  
}

#wright-perc{
    float: left;
    text-align: left;
    font-size: 2em;
    font-weight: bold;
    margin-left: 8vw;
    margin-right: auto;  
}

#wrong-perc{
    float: right;
    text-align: right;
    font-size: 2em;
    font-weight: bold;
    margin-right: 8vw;
    margin-left: auto;
}

.percentuali{
    font-size: 3rem;
    font-weight: bold;
}

.rapporti{
    font-size: 1.25rem;
}

#donut{ 
    display: inline-block;
    position:absolute; 
    transform: rotateY(-0.5turn);
    top: 320px;
}

.in-circle-text{
    color: white;
    text-align: center;
    width: 35vw;
    max-width: 280px;
    position: relative;
    bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.in-circle-text span{
    display: block;
}

.in-circle-text p{
    margin-top: 2rem;
}

.rate-us {
    margin: 2rem, 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.rate-us button {
    padding: 1rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    background: none;
    color: white;
    border-color: white;
}

a {
    text-decoration-line: none;
    color: white;
}