/* GLOBALI */
body{
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    height: 35px;
    margin-top: 2rem;
    margin-left: 10vw;
}

/* RESULTS*/
h1 {
  font-size: 2em;
}

.results {
    text-align: center;
    color:white;
}

.wright-perc, .wrong-perc {
    display: inline-block; 
    width: 60%;
    position: relative; 
    color: white;  
}

.wright-perc{
    margin-right: 1rem;
}

.wrong-perc{
    margin-left: 1rem;
}

.in-circle-text{
    display: inline-block;
    top: 100px;
    position:relative;
    margin: 1em, 0px;
    margin-left: auto;
    margin-right: auto;
}

#wrapper {
    position:relative;
    width:400px;
    height:400px;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}


#donut-top, #donut-bottom { 
    display: inline-block;
    position:absolute; 
    top:0px; 
    left:0px;
    width:600px;
    height:400px;
}


.rate-us {
    margin: 2rem, 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.rate-us button {
    padding: 1rem;
    margin-top: 4rem;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    background: none;
    color: white;
    border-color: white;
}