body {
  font-family: "Inter", sans-serif;
  background-image: url(../images/bg.jpg);
  background-size: cover;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 80px;
  font-size: large;
}

/* === HEADER LOGO === */
header {
  position: absolute;
  top: 30px;
  left: 40px;
}

.logo {
  display: block;
  margin: 0 auto 60px auto;
  max-width: 180px;
}

/* === HEADINGS === */
h1 {
  font-size: 6rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
  color: rgba(248, 241, 241, 0.868);
}

h2 {
  color: #c2128d;
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

/* === PARAGRAPH === */
p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

/* === LIST === */
ul {
  padding-left: 20px;
  margin-bottom: 2rem;
  font-size: 1rem;
}

ul li {
  margin-bottom: 0.8rem;
  opacity: 75%;
}

ul li strong {
  font-weight: 700;
}

.text-light {
  color: #f0f0f2;
  font-weight: 800;
}

/* === CHECKBOX === */
.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.checkbox input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: white;
}
a {
  text-decoration-line: none;
}

/* === BUTTON === */
.proceed-btn {
  background-color: #00f0ff;
  color: darkslategrey;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 16px 40px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 15px #00f0ff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: auto;
}

.proceed-btn:hover {
  background-color: #00cfd6;
}
